/* Estilo 1 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilo 2*/
header {
    padding: 12px 0;
    background-color: #001d3d;
    color: #ffc300;
}

h1 {
    font-size: 40px;
}

header h1,
section h2,
section h3 {
    font-family: 'Bungee', cursive;
    font-weight: normal;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
    font-family: 'Bungee', cursive;
}

header nav li a {
    color: #ffc300;
    text-decoration: none;
}

body {
    background-color:#dad7cd94;
}

body, 
input, 
textarea {
    font-family: 'Roboto', sans-serif;
}

input, 
textarea {
    background-color:#ffffff75;
}

/* Estilo 3 */
.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

/* Estilo 4 */
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilo 5 */
header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilo 6 */


.brands-list li img {
    margin-top: 16px;
    height: 30px;
}

.brands-list li {
    display: inline;
    margin-right: 10px;
}

/*Estilo 7 */

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
    color:#182c61;
}

section h2 {
    margin-bottom: 16px;
    font-family: 'Bungee', cursive;
    color:#182c61;
}

section p {
    margin-bottom: 8px;
    text-shadow: #000000;
    font-size: 15px;
    text-justify: inter-word;
}

.loja {
    margin-right: 15px;
}

/* Estilo 7 */

.store-front {
    margin-right: 32px;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

form button {
    background-color: #ffc300;
    color: #003566;
    border: none;
    cursor: pointer;
    font-weight: normal;
    font-family: 'Bungee', cursive;
    font-size: 13px;

}

section h3 {
    margin-bottom: 6px;
}

form button :hover {
    background-color: #001d3d;
}

input :focus, textarea :focus {
    outline-color: #182c61;
}

.social-links img {
    height: 20px;
}

.social-links li {
    display: inline;
    margin-right: 10px;
}

.social-links li a {
    text-decoration: none;
}

footer {
    padding: 12px 0;
    background-color: #001d3d;
    color: #ffc40093;
    text-align: center;
}